<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="navigation">

    <nav class="navbar navbar-expand-lg navbar-default bg-light mynav">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/logo_navbar.JPG" alt="logo" class="rounded-circle"
                                                    width="100" height="100"></a>
        <form th:method="get">
            <select class="language-select"
                    onchange="this.form.submit()"
                    id="lang"
                    name="lang">
                <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
            </select>
        </form>


        <a class="navbar-brand" th:href="@{/donations}">Donate</a>
        <a class="navbar-brand" th:href="@{/about}">About us</a>
        <a class="navbar-brand" th:href="@{/contact}">Contact</a>

        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-end" style="width: 100%;">

                    <!--TO DO to show and hide buttons -->

                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">Admin panel</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{/dogs/add} ">Add a dog</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/users/profile}">Profile</a>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/users/register}">Sign up</a>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/users/login}">Login</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form
                                th:action="@{/users/logout}"
                                th:method="POST">
                            <input id="logout-btn" class="btn btn-link nav-link" type="submit" value="Logout">
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!--second nav with info links-->
    <nav class="border navbar navbar-expand-md navbar-light links-nav">
        <div class="container-fluid justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-none d-md-inline ms-2" th:href="@{/shelter}">About the shelter</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-none d-md-inline ms-2" th:href="@{/breeds/all}">Dog breeds</a>
                </li>
            </ul>
        </div>
    </nav>

</div>


</body>
</html>