<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body class="page-not-found-404">
<div class="container-page-not-found">
    <h2>Oops! Page not found.</h2>
    <h1>404</h1>
    <p>Sorry, but we can't find the page you are looking for.</p>
    <a th:href="@{/}">Go back home</a>
</div>
</body>


</body>
</html>