/*body{*/
/*    background:rgb(242, 248, 248)*/
/*}*/

/* Navigations */

.mynav {
    background: #fff !important;
    box-shadow: 0px 2px 5px #777;
}

#logout-btn {
    margin-right: 30px;
    color: #636368 !important;
    border-bottom: 2px solid transparent;
}

#logout-btn:hover {
    border-bottom: 2px solid lightslategray;
}

.language-select {
    margin-right: 30px;
}

.language-select a:hover {
    border-bottom: 2px solid lightslategray;
}

.mynav a {
    margin-right: 30px;
    color: #636368 !important;
    border-bottom: 2px solid transparent;
}

.mynav a:hover {
    border-bottom: 2px solid lightslategray;
}

.active a {
    border-bottom: 2px solid lightslategray;
}

.links-nav {
    background: #fff !important;
    box-shadow: 0px 2px 5px #777;
}


.links-nav a {
    margin-right: 30px;
    color: #636368 !important;
    border-bottom: 2px solid transparent;
}

.links-nav a:hover {
    border-bottom: 2px solid lightslategray;
}

.active a {
    border-bottom: 2px solid lightslategray;
}

/* Spacing */
.gap100 {
    padding: 30px 0px;
}

/*Typograpgy*/

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #181174;
    text-transform: uppercase;
}

.h2w {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    margin: 50px 0;
}

h4 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.card {
    box-shadow: 2px 5px 20px #777;
}

.main-card-text {
    font-family: 'Caveat', sans-serif;
    font-size: 30px;
}

.card-img-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
}

.index-div h5 {
    font-family: 'Caveat', sans-serif;
    font-size: 40px;
}

.index-div {
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
}

.p-text-index {
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
}

.btn-adopt {
    border: 2px solid #000;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    padding: 10px 15px;
    min-width: 200px;
    margin: 10px;
    max-width: 200px;
}

.dogs-adoption-h3 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: #050505;
}

.card-body h5 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #050505;
}

.card-body p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #050505;
}

.index-page {
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1639313915/Paws_twv0z3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    justify-content: center;
}

.body-breed-details {
    background-color: #FEFEF6;
}

.dogs-breed-section h3 {
    font-family: 'Caveat', sans-serif;
    color: black;
}

.product-field {
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1639313915/Paws_twv0z3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    justify-content: center;
}

.breed-body, .breed-main, .breed-header {
    background-color: #FEFEF6;
}

.card-body a {
    text-decoration: none;
    background: #198754;
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.card-body a:hover {
    background: #66FB9D;
}

.breed-dog h5 {
    font-family: 'Caveat', sans-serif;
    font-size: 30px;
    color: black;
}

.breed-dog a {
    font-family: 'Source Sans 3', sans-serif;
    color: black;
}

.about-page-headings h3 {
    font-family: 'Dancing Script', sans-serif;
    color: black;
    margin-bottom: 15px;
    margin-top: 10px;
}



.about-body, .shelter-body {
    background-color: #FEFEF6;
}

.shelter-text-p {
    font-family: "Source Sans 3", sans-serif;
    font-weight: normal;
    color: black;
}

.breed-descr-p {
    font-family: 'Source Sans 3', sans-serif;
    color: black;
    font-size: 20px;
}

.dogs-breed h3 {
    font-family: 'Dancing Script', sans-serif;
    color: black;
}

.breed-details-h4 {
    font-family: 'Caveat', sans-serif;
    color: black;
}

.dog-details-div h3 {
    font-family: 'Source Sans 3', sans-serif;
    color: black;
}

.dog-details-div h4 {
    font-family: 'Source Sans 3', sans-serif;
    color: black;
}

.all-dogs-body {
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1639313915/Paws_twv0z3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    justify-content: center;
}

.learn-more-dog-profile a {
    text-decoration: none;
    background: #198754;
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
    margin-bottom: 10px;
}

.profile-body{
    background-color: #FEFEF6;
}

.user-profile-headings h3{
    font-family: 'Source Sans 3', sans-serif;
    color: black;
}

.user-profile-headings p{
    font-family: 'Source Sans 3', sans-serif;
    color: black;
    font-size: 20px;
}

.user-profile-headings h4{
    font-family: 'Source Sans 3', sans-serif;
    color: black;
    font-weight: bold;
}

.learn-more-dog-profile a:hover {
    background: #66FB9D;
}

.all-dogs-heading {
    font-family: 'Dancing Script', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: saddlebrown;
}

.dog-details-div p {
    font-family: 'Source Sans 3', sans-serif;
    color: black;
    font-size: 20px;
}



.dog-h4-heading {
    font-family: 'Dancing Script', sans-serif;
    font-size: 40px;
    color: black;
}


.map-shelter-heading {
    font-family: 'Source Sans 3', sans-serif;
    color: black;
}


.about-page-headings p {
    font-family: "Source Sans 3", sans-serif;
    font-weight: lighter;
}

.meet-team-h2 {
    font-family: 'Dancing Script', sans-serif;
    color: #000;
}

#team p {
    font-family: "Source Sans 3", sans-serif;
}

.donation-navbar-a {
    text-decoration: none;
    background: #ffeb00;
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.donation-navbar-a:hover {
    background: #f67c15;
}

.gapmargin200 {
    margin-left: 200px;
    padding-top: 40px;
}

.user-profile-pic {
    box-shadow: 2px 5px 20px #777;
    background-color: #fff;
    padding: 30px 20px;
}

/* Team section */

#team {
    position: relative;
    border: 1px solid #3b3939;
    border-radius: 20px;
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 50px;
    background: rgba(139, 129, 123, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.tm {
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: 2px 5px 20px #777;
}

.tm span {
    color: #731396;
    font-size: 40px;
    padding: 3px;
}

.tm span:hover {
    color: #181174
}

/* Video section */

#vid {
    padding: 100px 0px;
    background: silver

}

/* Cover backgrounds */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.add-dog {
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1637396187/adoptDontShop/cover/cover-add-dog_aijcbu.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.box-dog-add-main-info {
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.box-dog-add-main-info h3 {
    color: white;
}

.box-add-dog-advanced-characteristics {
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.box-add-dog-advanced-characteristics h3 {
    color: white;
}

.box-add-dog-medical-stats {
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.box-add-dog-medical-stats h3 {
    color: white;
}

.box-dog-add-main-info textarea {
    width: 400px;
    height: 150px;
}

.box-dog-add-main-info {
    justify-content: center;
    align-items: center;
}

/* Donation form layout */

.donation-body{
    background-color: #FEFEF6;
}


.donation-form {
    background-color: #333333;
}

.donation-text h3{
    font-family: "Caveat",sans-serif;
    color: black;
    margin-bottom: 10px;
}

.donation-text p{
    font-family: "Source Sans 3",sans-serif;
    color: black;
    font-size: 20px;
}

/* Progress bars */
*, *::before, *::after {
    box-sizing: border-box;
}

.progress-bar {
    position: relative;
    width: 500px;
    height: 3em;
    background-color: grey;
    border-radius: 1.5em;
    margin-top: 5px;
}

.progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(95%);
    background-color: green;
    border-radius: 1em;
    padding: 1em;
}

/* Portfolio */

/* Dog details gallery  */


.gallery {
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.gallery img {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#gallery-modal .modal-img {
    width: 100%
}

.dog-details-div {
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1637668684/adoptDontShop/cover/2858872_qdg1hh.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}


/* DONATION PAGE */

.donation-pic {
    position: relative;
    width: 100%;
    height: fit-content;
    background: url("https://res.cloudinary.com/yavorhr/image/upload/v1638351044/adoptDontShop/cover/photo-1522276498395-f4f68f7f8454_u95abo.jpg");
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: rgba(94, 41, 5, 0.2);
}

.donation-form {
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: rgba(132, 130, 130, 0.2);
    margin-top: 10px;
    text-align: center;
}

.donation-form textarea {
    width: 600px;
    height: 150px;
}

#donation-p {
    margin: auto;
    text-align: center;
    font-family: "Source Sans 3",sans-serif;
    color: black;
}

.payment-details-h2{
    font-family: "Source Sans 3",sans-serif;
    color: black;
}

.thanks-h2{
    font-family: "Source Sans 3",sans-serif;
    color: black;
}

/* BREEDS */

.breed-body {
    --gra: linear-gradient(45deg, cyan, royalblue);
}

.breed-body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.breed-main {
    width: 98%;
    background: white;
    margin: 60px auto;
    font-family: sans-serif;
}

.breed-header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breed-header ul li {
    list-style: none;
    padding: 20px;
    margin: 10px;
    float: left;
    font-size: 20px;
    border-radius: 35px;
}

.breed-header ul li a {
    color: inherit;
    text-decoration: none;
}

.breed-header ul li.active {
    background: var(--gra);
}

.breed-header ul li.active a {
    color: white;
    font-weight: bold;
}

.product-field {
    padding: 40px 20px;
}

.product-field ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-field ul li {
    list-style: none;
    width: 23.4%;
    height: 400px;
    transition: 0.5s all;
    background: whitesmoke;
    /*overflow: hidden;*/
    border-radius: 20px;
    padding: 10px;
    margin: 200px 10px 0 10px;
    position: relative;
}

/*}*/

picture img {
    width: 95%;
    padding: 25px 0 0 0;
    position: relative;
    border-radius: 50px 20px 0 20px;
}


.detail small:hover {
    background: var(--gra);
    color: white;
    border-color: cyan;
}

.breed-dog {
    box-shadow: 2px 5px 20px #777;
    margin: 10px;
}

.breed-profile-pic {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: rgba(94, 41, 5, 0.2);
}

/* CONTACT PAGE */

.inquire-pic {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 60%;
    padding: 1px;
    border: 8px solid transparent;
    background: linear-gradient(60deg, #EFA51A 10%, #ce00 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: rgba(94, 41, 5, 0.2);
}

.inquire-div p {
    font-size: 22px;
    font-weight: 500;
    font-family: sans-serif;
}

.dear-text {
    font-weight: 800;
}

.inquire-div span {
    font-weight: 800;
}

.inquire-section {
    min-height: 100vh;
    background: url("https://res.cloudinary.com/yavorhr/image/upload/v1637668684/adoptDontShop/cover/2858872_qdg1hh.jpg");
}

/* ABOUT US  */

.tm .box {
    position: relative;
    display: flex;
}

.tm .box p {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contact-page {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("https://res.cloudinary.com/yavorhr/image/upload/v1638900733/adoptDontShop/cover/Dog-Background-Pictures_n7vvif.jpg");
    background-size: cover;
    width: 100%;
}

.contact-page .content {
    max-width: 800px;
    text-align: center;
}

.contact-page .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
}

.send-message {
    color: #ffffff;
    font-weight: 500;
}


.contact-page .content p {
    font-weight: 300;
    color: antiquewhite;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
}

.contact-container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: antiquewhite;
    flex-direction: column;
    font-weight: 300;
}

.contact-container .contactInfo .box .text h3 {
    font-weight: 500;
    color: white;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
    background: rgba(238, 233, 233, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.contactForm h2 {
    font-size: 30px;
    color: #e5e5e5;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span {
    color: #ffffff;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: darkslategrey;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact-page {
        padding: 50px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-container .contactInfo {
        margin-bottom: 40px;
    }

    .contact-container .contactInfo {
        width: 100%;
    }
}

/* SHELTER */

.shelter-1 {
    width: 100%;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    box-shadow: 0px 2px 5px #777;

}

.shelter-2 {
    width: 100%;
    height: 300px;
    align-content: center;
    justify-content: center;
    position: relative;
    border-radius: 20%;
    box-shadow: 0px 2px 5px #777;
}

.shelter-3 {
    width: 100%;
    height: 300px;
    align-content: center;
    justify-content: center;
    position: relative;
    border-radius: 20%;
    box-shadow: 0px 2px 5px #777;
}

.shelter-4 {
    width: 60%;;
    height: 350px;
    align-items: center;
    text-align: center;
    position: center;
    margin-left: 70%;
    border-radius: 10%;
    border: 4px solid transparent;
    background: linear-gradient(60deg, #8b7f35 10%, #ce00 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: rgba(163, 158, 154, 0.2);
}

.shelter-dogs {
    width: 30%;
    height: 350px;
    border-radius: 10%;
    padding: 10px;
    margin: 5px;
    position: relative;
    border: 4px solid transparent;
    background: linear-gradient(60deg, #8b7f35 10%, #ce00 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: rgba(163, 158, 154, 0.2);
}

/* TEXT TRANSFORM */

.h-cap {
    text-transform: capitalize;
}

.txt-cap-low::first-letter {
    text-transform: uppercase;
}

.txt-cap-low {
    text-transform: lowercase;
}

.table {
    border: 1px solid #fff;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.buttons-dog-profile {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.upload-pic {
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    padding-bottom: 20px;
}

.dog-div-add {
    margin-top: 35px;
}

.dog-div-add input {
    margin-left: 10px;
}

.dog-div-add select {
    margin-left: 10px;
}

/* LOGIN */

.login-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1639150140/adoptDontShop/cover/jose-ramos-BWCgQw25XUE-unsplash_foqaxn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.box-login {
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background: rgba(107, 184, 226, 0.5);
    text-align: center;
    margin-top: 40px;
}

.box-login h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Permanent Marker', cursive;
}


.box-login input[type="text"], .box-login input[type="password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #168598;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box-login input[type="text"]:focus,
.box-login input[type="password"]:focus {
    width: 280px;
    border-color: #168598;
}

.box-login small {
    border-radius: 20px;
}

.box-login input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #168598;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box-login input[type="submit"]:hover {
    background: #168598;
}


/* REGISTER */

.register-body {
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1637668684/adoptDontShop/cover/2858872_qdg1hh.jpg");
    background-position: bottom;
}

.signup-form {
    width: 400px;
    text-align: center;
    background-position: center;
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1637668693/adoptDontShop/cover/2858790_spnvip.jpg");
    border-radius: 20px;
    box-shadow: 0px 2px 5px #777;
}

.signup-form h1 {
    margin-top: 50px;
    font-family: 'Permanent Marker', cursive;
    color: #fff;
    font-size: 40px;
}

.signup-form input {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat", sans-serif;
}

.signup-form textarea {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 70px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat", sans-serif;
}


.txtb {
    margin: 30px 0;
    background: rgba(255, 255, 255, .7);
    border-radius: 6px;
}

.signup-btn {
    margin-top: 40px;
    margin-bottom: 20px;
    background: saddlebrown;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
    background: rgba(106, 66, 66, 0.7);
}

.signup-btn:hover {
    transform: scale(0.96);
}

.signup-form a {
    text-decoration: none;
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}

.signup-form a:hover {
    background: rgba(0, 0, 0, .3);
}


/* ADMIN STATS PAGE */

.h1-welcome {
    font-family: 'Permanent Marker', cursive;
}

.h2-welcome {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: large;
    margin-bottom: 20px;
}

.table-body {
    height: 100vh;
}

.table-div table {
    border-collapse: collapse;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.table-div tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

.table-div th,
.table-div td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-div td {
    color: #050505;
    background-color: #e5e5e5;
    font-family: 'Mochiy Pop One', sans-serif;
}

.table-div .header {
    background-color: #29292a;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: large;
    color: #fff;
}

.table-div h2 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #111111;
    padding: 10px 0px;
}

.table-div .content:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}


/* Website table */

.website-div table {
    border-collapse: collapse;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.website-div tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

.website-div th,
.website-div td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: medium;
}

.website-div .header {
    background-color: #29292a;
    color: #fff;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: large;
}

.website-div h2 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #151515;
    padding: 10px;
}

.website-div .content:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.website-div .content td {
    background-color: #e5e5e5;
    color: #050505;
}

/* SHELTER INFO TABLE */

.shelter-info-div table {
    border-collapse: collapse;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.shelter-info-div tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

.shelter-info-div th,
.shelter-info-div td {
    padding: 12px;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: medium;
    border-bottom: 1px solid #ddd;
}

.shelter-info-div .header {
    background-color: #29292a;
    color: #fff;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: medium;
}

.shelter-info-div h2 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #050505;
    padding: 10px 0px;
}

.shelter-info-div .content:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.shelter-info-div .content td {
    background-color: #e5e5e5;
    color: #050505;
}

/* CURVE ADOPTIONS */

.curve-adoptions {
    margin-top: 20px;
}

.curve-adoptions h2 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
}

/* EXCEPTIONS STYLING */

.page-not-found-404 {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg, #774D2B, #ded6d6);
}

.container-page-not-found {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
}

.container-page-not-found h1 {
    font-size: 240px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url("https://res.cloudinary.com/yavorhr/image/upload/v1638725614/rhtvpgudfv7kg8x7bcxw.jpg") center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container-page-not-found a {
    text-decoration: none;
    background: #774D2B;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container-page-not-found a:hover {
    background: #E7B342;

}

