/*body{*/
/*    background:rgb(242, 248, 248)*/
/*}*/

/* Navigations */

.mynav {
    background: #fff !important;
    box-shadow: 0px 2px 5px #777;
}

#logout-btn {
    margin-right: 30px;
    color: #636368 !important;
    border-bottom: 2px solid transparent;
}

#logout-btn:hover {
    border-bottom: 2px solid lightslategray;
}


.mynav a {
    margin-right: 30px;
    color: #636368 !important;
    border-bottom: 2px solid transparent;
}

.mynav a:hover {
    border-bottom: 2px solid lightslategray;
}

.active a {
    border-bottom: 2px solid lightslategray;
}

.links-nav {
    background: #fff !important;
    box-shadow: 0px 2px 5px #777;
}


.links-nav a {
    margin-right: 30px;
    color: #636368 !important;
    border-bottom: 2px solid transparent;
}

.links-nav a:hover {
    border-bottom: 2px solid lightslategray;
}

.active a {
    border-bottom: 2px solid lightslategray;
}

/* Spacing */
.gap100 {
    padding: 30px 0px;
}

/*Typograpgy*/

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #181174;
    text-transform: uppercase;
}

.h2w {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    margin: 50px 0;
}

h4 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.card {
    box-shadow: 2px 5px 20px #777;
}

.main-card-text {
    font-family: 'Mochiy Pop One', sans-serif;
}


.gapmargin200 {
    margin-left: 200px;
    padding-top: 40px;
}

.user-profile-pic {
    box-shadow: 2px 5px 20px #777;
    background-color: #fff;
    padding: 30px 20px;
}

/* Team section */

#team {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Flag_of_Libya_%281977%E2%80%932011%2C_3-2%29.svg/1200px-Flag_of_Libya_%281977%E2%80%932011%2C_3-2%29.svg.png");
}

.tm {
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: 2px 5px 20px #777;
}

.tm i {
    color: #731396;
    font-size: 40px;
    padding: 3px;
}

.tm i:hover {
    color: #181174
}

/* Video section */

#vid {
    padding: 100px 0px;
    background: silver

}

/* Cover backgrounds */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.add-dog {
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1637396187/adoptDontShop/cover/cover-add-dog_aijcbu.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.box-dog-add-main-info {
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.box-dog-add-main-info h3 {
    color: white;
}

.box-add-dog-advanced-characteristics {
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.box-add-dog-advanced-characteristics h3 {
    color: white;
}

.box-add-dog-medical-stats {
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.box-add-dog-medical-stats h3 {
    color: white;
}

.box-dog-add-main-info textarea {
    width: 400px;
    height: 150px;
}

.box-dog-add-main-info {
    justify-content: center;
    align-items: center;
}

/* Donation form layout */

.donation-form {
    background-color: #333333;
}

/* Progress bars */
*, *::before, *::after {
    box-sizing: border-box;
}

.progress-bar {
    position: relative;
    width: 500px;
    height: 3em;
    background-color: grey;
    border-radius: 1.5em;
    margin-top: 5px;
}

.progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(95%);
    background-color: green;
    border-radius: 1em;
    padding: 1em;
}

/* Portfolio */

/* Dog details gallery  */

.gallery {
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(94, 41, 5, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.gallery img {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#gallery-modal .modal-img {
    width: 100%
}

.dog-details-div {
    background-image: url("https://res.cloudinary.com/yavorhr/image/upload/v1637668684/adoptDontShop/cover/2858872_qdg1hh.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}


/* DONATION PAGE */

.donation-pic {
    position: relative;
    width: 100%;
    height: fit-content;
    background: url("https://res.cloudinary.com/yavorhr/image/upload/v1638351044/adoptDontShop/cover/photo-1522276498395-f4f68f7f8454_u95abo.jpg");
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: rgba(94, 41, 5, 0.2);
}

.donation-form {
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: rgba(132, 130, 130, 0.2);
    margin-top: 10px;
    text-align: center;
}

.donation-form textarea {
    width: 600px;
    height: 150px;
}

#donation-p {
    margin: auto;
    text-align: center;
}

/* BREEDS */

.breed-body {
    --gra: linear-gradient(45deg, cyan, royalblue);
}

.breed-body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.breed-main {
    width: 98%;
    background: white;
    margin: 60px auto;
    font-family: sans-serif;
}

.breed-header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breed-header ul li {
    list-style: none;
    padding: 20px;
    margin: 10px;
    float: left;
    font-size: 20px;
    border-radius: 35px;
    /*background: red;*/

}

.breed-header ul li a {
    color: inherit;
    text-decoration: none;
}

.breed-header ul li.active {
    background: var(--gra);
}

.breed-header ul li.active a {
    color: white;
    font-weight: bold;
}

.product-field {
    padding: 40px 20px;
}

.product-field ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-field ul li {
    list-style: none;
    width: 23.4%;
    height: 400px;
    transition: 0.5s all;
    background: whitesmoke;
    /*overflow: hidden;*/
    border-radius: 20px;
    padding: 10px;
    margin: 200px 10px 0 10px;
    position: relative;
}

/*}*/

picture img {
    width: 95%;
    padding: 25px 0 0 0;
    position: relative;
    border-radius: 50px 20px 0 20px;
}


.detail small:hover {
    background: var(--gra);
    color: white;
    border-color: cyan;
}

.breed-dog {
    box-shadow: 2px 5px 20px #777;
    margin: 10px;
}

.breed-profile-pic {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: rgba(94, 41, 5, 0.2);
}