<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common_fragments/head::head"></head>


<body>

<header th:replace="common_fragments/navbar.html::navigation"></header>


<div class="container-fluid">
    <h1 class="text-center text-white mt-5">Welcome to Stats!</h1>
    <h3 class="text-center text-white mt-5">Total requests <th:block th:text="${stats.getTotalRequests()}"></th:block></h3>
    <h3 class="text-center text-white mt-5">Anonymous requests <th:block th:text="${stats.getAnonymousRequests()}"></th:block></h3>
    <h3 class="text-center text-white mt-5">Authorized requests <th:block th:text="${stats.getAuthRequests()}"></th:block></h3>
</div>


</body>
</html>
