<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--insert the Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js"></script>

    <!-- insert google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Adopted', 'Captured'],
                ['January', 1000, 400],
                ['February', 1170, 460],
                ['March', 660, 1120],
                ['April', 1030, 540],
                ['May', 1030, 540],
                ['June', 1030, 540],
                ['July', 1030, 540],
                ['August', 1030, 540],
                ['September', 1030, 540],
                ['October', 1030, 540],
                ['November', 1030, 540],
                ['December', 1030, 540],
            ]);


            var options = {
                title: 'Adopted / captured dogs in 2021',
                curveType: 'function',
                legend: {position: 'bottom'}
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
    <title>Stats</title>
</head>


<body>
<header th:replace="common_fragments/navbar.html::navigation"></header>

<div class="container-fluid">
    <h1 class="text-center mt-5">Welcome to admin panel!</h1>
    <p>Here you can find some useful information regarding our website, shelter statistics and our finances.</p>
</div>

<div>
    <h3>Website requests: </h3>
    <h3 class="text-center mt-5">Total requests
        <th:block th:text="${stats.getTotalRequests()}"></th:block>
    </h3>
    <h3 class="text-center  mt-5">Anonymous requests
        <th:block th:text="${stats.getAnonymousRequests()}"></th:block>
    </h3>
    <h3 class="text-center mt-5">Authorized requests
        <th:block th:text="${stats.getAuthRequests()}"></th:block>
    </h3>
</div>

<div>
    <h3>Adopted dogs in last year vs dogs entered the Shelter</h3>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</div>



<div>
    <h3>Shelter current capacity</h3>
</div>

<div>
    Raised money in last year
</div>


</body>
</html>
