<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="common_fragments/head::head"></head>

<body>

<div th:replace="common_fragments/navbar::navigation"></div>

<div class="d-flex justify-content-center align-items-center container mt-5 ">

    <div class="row ">
        <form
                th:action="@{/users/register}"
                th:method="post"
                th:object="${userModel}">

            <div>
                <label for="inputEmail" class="form-label">Email address</label>
                <input
                        aria-describedby="emailHelp"
                        id="inputEmail"
                        th:field="*{email}"
                        th:errorclass="is-invalid"
                        type="email"
                        class="form-control"
                        placeholder="Email"/>
                <p class="invalid-feedback errors alert alert-danger">
                    First name is required and should be between 4 and 20 symbols.
                </p>
                <div id="emailHelp" class="form-text mb-3 ">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input
                        id="username"
                        name="username"
                        th:field="*{username}"
                        th:errorclass="is-invalid"
                        type="text" min="2" max="20" class="form-control"
                        placeholder="Username"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   class="invalid-feedback errors alert alert-danger">
                    Username is required.
                </p>
            </div>

            <div class="mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input
                        id="firstName"
                        name="firstName"
                        th:field="*{firstName}"
                        th:errorclass="is-invalid"
                        type="text" min="2" max="20" class="form-control"
                        placeholder="First name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    First name is required and should be between 4 and 20 symbols.
                </p>
            </div>

            <div class="mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input id="lastName"
                       name="lastName"
                       th:field="*{lastName}"
                       th:errorclass="is-invalid"
                       type="text" min="2" max="20" class="form-control"
                       placeholder="Last name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Last name is required and should be between 4 and 20 symbols.
                </p>
            </div>

            <div class="mb-3">
                <label for="lastName" class="text-white font-weight-bold">Age</label>
                <input id="age"
                       name="age"
                       th:field="*{age}"
                       th:errorclass="is-invalid"
                       type="text" min="2" max="20" class="form-control"
                       placeholder="Age"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Age is required and should be positive value.
                </p>
            </div>

            <div class="mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input id="password"
                       name="password"
                       th:field="*{password}"
                       th:errorclass="is-invalid"
                       type="password" min="2" max="20" class="form-control"
                       placeholder="Password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Password is required.
                </p>
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="text-white font-weight-bold">Confirm Password</label>
                <input id="confirmPassword"
                       th:field="*{confirmPassword}"
                       type="password" min="2" max="20" class="form-control"
                       placeholder="Confirm your password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Confirmation password is required.
                </p>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html> 