<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common_fragments/head::head"></head>

<body class="body-breed-details">

<div th:replace="common_fragments/navbar.html::navigation">
</div>

<div class="container" th:object="${breed}">
    <div class="row">
        <h4 class="breed-details-h4 mt-4" th:text="*{name}">Breed name</h4>

        <th:block th:if="${dogsFromThisBreed.size() >0}">
            <h4 class="breed-details-h4 mb-1">Dogs from this breed: <span th:text="${dogsFromThisBreed.size()}"></span></h4>
        </th:block>

        <th:block th:if="${dogsFromThisBreed.size() ==0}">
            <h4 class="breed-details-h4 mt-2">There is no dog for adoption from this breed.</h4>
        </th:block>

        <div class="col-md-6">
            <img class="breed-profile-pic" th:src="*{imageUrl}">
        </div>
        <div class="col-md-4 breed-descr-p">
            <p th:text="*{description}">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel totam illum odio,
                cupiditate
                aspernatur
                quia aut ad eligendi alias culpa rerum perferendis nihil nesciunt unde? Voluptates eos aut odit
                doloribus?</p>
        </div>


        <div class="col-md-6 mt-5 mb-5">
            <div class="progress-bar" data-label="Energy level" th:style="|--width:${breed.energyLevel}|">
            </div>
            <div class="progress-bar" data-label="Playfulness" th:style="|--width:${breed.playfulness}|">
            </div>
            <div class="progress-bar" data-label="Affection level"
                 th:style="|--width:${breed.affectionLevel}|">
            </div>
            <div class="progress-bar" data-label="Grooming requirements"
                 th:style="|--width:${breed.groomingRequirements}|">
            </div>
        </div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="progress-bar" data-label="Friendliness to other pets"
                 th:style="|--width:${breed.friendlinessToOtherPets}|">
            </div>
            <div class="progress-bar" data-label="Friendliness to strangers"
                 th:style="|--width:${breed.friendlinessToStrangers}|">
            </div>
            <div class="progress-bar" data-label="Watchfulness" th:style="|--width:${breed.watchfulness}|">
            </div>
            <div class="progress-bar" data-label="Ease of training"
                 th:style="|--width:${breed.easeOfTraining}|">
            </div>
        </div>

        <section class="dogs-breed-section">
            <div class="container">
                <h3 th:if="${dogsFromThisBreed.size()>0}">All dogs from this breed :</h3>
                <div class="row">
                    <div class="col-md-3"
                         th:each="dog : ${dogsFromThisBreed}"
                         th:object="${dog}">
                        <div class="card m-2" style="width: 18rem;">
                            <img class="card-img-top" data-src="holder.js/100px160/"
                                 th:src="*{imageUrl}" alt="Card image cap" data-holder-rendered="true"
                                 style="height:160px; width:100%; display: block;">

                            <div class="card-body text-center justify-content-center">
                                <h5
                                        th:text="*{name}"
                                        class="card-title">Dog name</h5>

                                <p th:text="|Hi, I am *{name}!| + ' ' + |I am *{ageCalc(age)} old, a| + ' ' + |*{#strings.toLowerCase(gender)}| + ' ' + |${breed.name} doggy!|">
                                </p>
                                    <a class="btn-success text-center" th:href="@{/dogs/{id}/details(id = *{id})}">Learn
                                        More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>