<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="common_fragments/head::head"></head>

<body class="breed-body">

<header th:replace="common_fragments/navbar.html::navigation"></header>

<main class="breed-main">
    <header class="breed-header">
        <ul class="indicator">
            <li data-filter="all" class="active"><a href="#">All</a></li>
            <li data-filter="small"><a href="#">Small</a></li>
            <li data-filter="medium"><a href="#">Medium</a></li>
            <li data-filter="large"><a href="#">Large</a></li>
        </ul>
    </header>


    <div class="product-field">
        <ul class="items">

            <li class="text-center breed-dog"  th:each="b : ${allBreeds}"
                 th:object="${b}">
                <img th:src=" *{imageUrl}" style="height: 300px ; width: 100%; ">
                <div class="detail text-center">
                    <strong hidden th:text="*{#strings.toLowerCase(size)}"></strong>
                    <h5 class="mt-2" th:text="*{name}"></h5>
                    <a class="btn" th:href="@{/breeds/{id}/details(id = *{id})}">Learn More</a>
                </div>
            </li>
        </ul>
    </div>
</main>

</body>
</html>

<script>
    (function () {

        let field = document.querySelector('.items');
        let li = Array.from(field.children);

        function FilterProduct() {
            for (let i of li) {
                const name = i.querySelector('strong');
                const x = name.textContent;
                i.setAttribute("data-category", x);
            }

            let indicator = document.querySelector('.indicator').children;

            this.run = function () {
                for (let i = 0; i < indicator.length; i++) {
                    indicator[i].onclick = function () {
                        for (let x = 0; x < indicator.length; x++) {
                            indicator[x].classList.remove('active');
                        }
                        this.classList.add('active');
                        const displayItems = this.getAttribute('data-filter');

                        for (let z = 0; z < li.length; z++) {
                            li[z].style.transform = "scale(0)";
                            setTimeout(() => {
                                li[z].style.display = "none";
                            }, 500);

                            if ((li[z].getAttribute('data-category') === displayItems) || displayItems === "all") {
                                li[z].style.transform = "scale(1)";
                                setTimeout(() => {
                                    li[z].style.display = "block";
                                }, 500);
                            }
                        }
                    };
                }
            }
        }
        new FilterProduct().run();
    })();
</script>


</body>

</html>