<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common_fragments/head.html::head">

<body>

<header th:replace="common_fragments/navbar.html::navigation"></header>

<div th:object="${dog}">
    <section>
        <div class="container">
            <h4>
                Meet, <span th:text="*{name}"> !</span>
            </h4>
            <h3 th:text="*{size} + ' ' + *{gender} + ' ' + *{breed} + ' ' + *{colour}">
                Medium Male Staffy Dog Black
            </h3>
        </div>
    </section>

    <section>

        <section class="gallery">
            <div class="container-md">
                <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col" th:each="p : *{pictures}">
                        <img th:src="${p.url}" class="gallery-dog-profile" width="300px" height="300px"
                             alt="gallery">
                    </div>
                </div>
            </div>
        </section>

        <div class="container mt-4">
            <div class="row">


                <div class="col-md-3 ps-5">
                    <h5 class="mb-4">About</h5>

                    <h4>Age</h4>
                    <p>5 years
                    <p>

                    <h4>Weight</h4>
                    <p>13 kilos
                    <p>

                    <h4>Coat length</h4>
                    <p>Medium
                    <p>

                    <h4>House trained</h4>
                    <p>yes
                    <p>

                    <h4>Good in home with</h4>
                    <p>Other people, kids
                    <p>

                    <h4>Added on :</h4>
                    <p>31/21/2021
                    <p>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger ms-3">Delete</button>
                    <button type="button" class="btn btn-info ms-3">Upload picture</button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="contrainer">
            <div class="row">
                <div class="col gapmargin200">
                    <h3>About Bono</h3>
                    <p class="mt-4 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatibus est
                        mollitia
                        praesentium, corrupti ad numquam, nam quis libero omnis placeat id rem aliquam quae minima vel
                        assumenda explicabo magni.</p>
                    <button type="button" class="btn btn-outline-success ">Enquire about Bono</button>
                </div>

                <div class="col gapmargin200">
                    <table class="table">
                        <tbody>
                        <tr class="">
                            <td class="listing-details__title"><span
                                    class="boolean-image-true boolean-image-yes"></span></td>
                            <td class="listing-details__table__detail">
                                Desexed
                            </td>
                            <td>
                                <i class="fas fa-check"></i>
                            </td>
                        </tr>
                        <tr class="">
                            <td class="listing-details__title"><span
                                    class="boolean-image-true boolean-image-yes"></span></td>
                            <td class="listing-details__table__detail">
                                Vaccinated
                            </td>
                            <td>
                                <i class="fas fa-times"></i>
                            </td>
                        </tr>
                        <tr class="false">
                            <td class="listing-details__title"><span
                                    class="boolean-image-true boolean-image-no"></span></td>
                            <td class="listing-details__table__detail">
                                Wormed
                            </td>
                            <td>
                                <i class="fas fa-times"></i>
                            </td>
                        </tr>
                        <tr class="">
                            <td class="listing-details__title"><span
                                    class="boolean-image-true boolean-image-yes"></span></td>
                            <td class="listing-details__table__detail">
                                Rabies
                            </td>
                            <td>
                                <i class="fas fa-times"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>

    <div>
        <!-- Comments submission -->
        <form id="commentForm" method="POST"
              action="/">
            <div class="form-group">
                <h4>Leave a comment</h4>
                <label for="message">Message</label>
                <textarea name="message"
                          id="message"
                          cols="30"
                          rows="5"
                          class="form-control"
                          style="background-color: white;"></textarea>
                <small id="messageError" class="invalid-feedback">
                    Message should be at least 10 characters.
                </small>
            </div>

            <div class="form-group">
                <input type="submit"
                       class="btn"
                       id="postComment"
                       value="Post Comment"/>
            </div>
        </form>
        <!-- Comments submission -->
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
