<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common_fragments/head.html::head">
    <title></title>

<body>

<header th:replace="common_fragments/navbar.html::navigation"></header>

<div class="inquire-section">
    <section class="pt-5">
        <div class="container mt-3 inquire-div ">
            <div class="row">
                <div th:class="col-md-6">
                    <p class="dear-text" th:object="${user}">Dear <span th:text="*{firstName}"></span>,</p>
                    <p th:object="${dog}">Congratulations on deciding to adopt a <span th:text="*{name}"></span> !</p>
                    <p>You are embarking on a wonderful and rewarding relationship. Because adopting a new dog comes
                        with a
                        lot
                        of
                        change
                        for both dog and dog parent, we’ve compiled an adoption plan in few steps, which you need to
                        follow
                        up.</p>
                    <p>As first step we have prepared a checklist to help make the
                        transition as smooth as possible. We will send you the full questionary at <span
                                th:text="${user.email}"> .</span>
                    </p>
                    <p>After completion of all questions, our team will contact you in shortly for further instructions.
                        In
                        the
                        mean
                        time, if you
                        have any questions, please don't hesitate to contact us using any time. You can reach us in
                        multiple
                        ways. Please navigate to
                        our Contact section for more details.

                </div>
                <div th:class="col-md-6">
                    <img src="https://res.cloudinary.com/yavorhr/image/upload/v1638884845/adoptDontShop/cover/dog-form-inquire_ivieon.jpg"
                         class="inquire-pic">
                </div>
            </div>
        </div>
    </section>
</div>
</body>

</html>