<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common_fragments/head.html::head">
    <title></title>

<body class="shelter-body">

<header th:replace="common_fragments/navbar.html::navigation"></header>

<section>
    <div class="container shelter-text-p">
        <div class="row">
            <div class="col-md-12 pt-5 ">
                <img src="https://res.cloudinary.com/yavorhr/image/upload/v1638906549/adoptDontShop/shelter/predi_na0q3m.jpg"
                     class="shelter-1" alt="shelter-1">
                <p class="text-start mt-3">The Farm has been working for the dogs since January 2014. We bought it as an
                    old
                    dairy farm with the
                    amazing help of tens of thousands of people and after years
                    of re-making it have turned it into a place where we can really care for the dogs without a
                    home.</p>
            </div>

            <div class="col md-4 pt-2 ">
                <img src="https://res.cloudinary.com/yavorhr/image/upload/v1638906547/adoptDontShop/shelter/0003_olzblt.jpg"
                     class="shelter-2" alt="shelter-2">
            </div>

            <div class="col md-4 pt-3 ">
                <p>
                    We may look like a big organization from the side, but we are a small team of people who are doing
                    their best to work professionally and with all their hearts. Each of the dogs in our shelter is our
                    friend – with a name and a story. One by one we have already helped thousands replace the suffering
                    in the streets with a life in a happy home – both in Bulgaria and abroad.
                </p>
                <p>
                    The shelter functions as a rescue and adoption center. Dog by dog, thousands have already found
                    their loving homes in Bulgaria and abroad. Every animal leaves the shelter vaccinated and de-wormed,
                    with a microchip, EU pet passport and neutered.
                </p>

            </div>

            <div class="col md-4 pt-5">
                <img src="https://res.cloudinary.com/yavorhr/image/upload/v1638906492/adoptDontShop/shelter/13613326-10207214991915563-6550105973255526317-o_jhssid.jpg"
                     class="shelter-3" alt="shelter-3">
            </div>

        </div>

        <div class="col-md-12">
            <p>
                We take care of 200 animals at any time – treating, curing, looking for homes, providing every needed
                support so each and every one of our poor homeless dogs becomes a healthy and happy pet. The shelter
                always functions at full capacity – we admit a new friend in trouble the minute we have a space freed.
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/yavorhr/image/upload/v1638964007/adoptDontShop/shelter/14364679-10210507193822077-248437234006452459-n_q3goea.jpg"
                 class="shelter-4" alt="shelter-4">
        </div>

        <div class="row align-items-center mt-3">
            <div class="row">
                <p>
                    We built the Farm with love for the dogs and to every requirement of the law. The shelter building
                    consists of 46 cages, each one with a small room and a yard. We built 6 large walking yards and are
                    doing everything that we can to provide the best life for the 200 dogs with what the donors are able
                    to spare for them.
                </p>
                <p>
                    Our aim is to create and professionally manage a truly humane NGO shelter, managed only by people
                    who
                    love dogs and put their interest first. Every day is a battle and everything we managed to achieve
                    is the
                    result of immense efforts, but we work hard and with all our hearts, because we really love dogs.
                </p>
                <p>
                    Everything that happens at the Farm – from the single vaccine shot to the brick in the wall is made
                    possible by thousands of people who have supported us financially or with volunteer work. The
                    organization was
                    born spontaneously in a dog forum in 2009 and since then we have come a very long way, with the help
                    of
                    thousands of caring people. There are no words to thank you for your support, dear friends.
                </p>
            </div>
        </div>

        <div class="col-md-12 row align-items-center ms-5">
            <img class="shelter-dogs img-fluid"
                 src="https://res.cloudinary.com/yavorhr/image/upload/v1638966381/adoptDontShop/shelter/dog-shelter_difsls.jpg"
                 alt="">
            <img class="shelter-dogs img-fluid"
                 src="https://res.cloudinary.com/yavorhr/image/upload/v1638966381/adoptDontShop/shelter/b25lY21zOmRkYTFmZThiLTNhYzQtNGY0NS04YzkyLTRhNDA5ZTk0ZDhmOTo2Y2FjMmNlYy03OTZkLTRkYTktOGYyYy1mMWQ2NDJjMWM0MjU_vwul7v.jpg"
                 alt="">
            <img class="shelter-dogs img-fluid"
                 src="https://res.cloudinary.com/yavorhr/image/upload/v1638966381/adoptDontShop/shelter/IMG_8114_jpg_7evRtBe1-1-710x355_zqlbwy.jpg"
                 alt="">
        </div>

        <div class="col-md-12 mt-5 text-center ">
            <h3 class="map-shelter-heading">Find us on the map :</h3>

        </div>
    </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="100%" height="550" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=Sofia,%20gorni%20bogrov&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a
                            href="https://fmovies-online.net"></a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: left;
                            height: 500px;
                            width: 600px;
                        }
                    </style>
                    <a href="https://www.embedgooglemap.net"></a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 1300px;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>